@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  /* background: #8ecae6; */
  background-image: linear-gradient(
    109.6deg,
    rgba(44, 83, 131, 1) 18.9%,
    rgba(95, 175, 201, 1) 91.1%
  );
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculator {
  border: 2px solid #1d3557;
  padding: 5px;
  background: #1d3557;
  width: 320px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
  border-radius: 20px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  border: none;
  background: #457b9d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  border-radius: 3px;
  cursor: default;
  border-radius: 7px;
  border: 0.5px solid black;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

button:hover,
.button:focus {
  color: black;
  outline: none;
}

.jumbo {
  width: 160px;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
}

.author > a {
  text-decoration: none;
  color: #00264d;
  line-height: 26px;
}

.footer {
  padding-top: 10px;
  margin: 0;
  color: rgba(0, 0, 0, 0.445);
  font-family: "Poppins", sans-serif;
  opacity: 0.9;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.575);
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.445);
}

#bot {
  padding-top: 0px;
}
